<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Converse</title>

    <link rel="stylesheet" href="styles/chat.css" />
    <link rel="shortcut icon" href="../image/favicon.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="app">
      <section class="block-messages">
        <header class="chatlist-header">
          <div title="Você" class="container-header-you">
            <img src="./image/user-3296.svg" alt="" />
            <p class="your-name-header">Pablo Almeida</p>
          </div>
          <span class="material-icons" title="Nova conversa" style="margin: 0">
            add
          </span>
          <span class="material-icons" title="Mais opções"> more_vert </span>
        </header>
        <div class="container-search-chat">
          <span id="search-icon" class="material-icons"> search </span>
          <input
            title="Caixa de texto de pesquisa"
            type="text"
            placeholder="Pesquise uma conversa"
          />
          <span class="material-icons" title="Filtro conversas não lidas">
            filter_list
          </span>
        </div>
        <ul id="container-list" class="container-list"></ul>
      </section>
      <section id="conversation" class="conversation">
        <h1>Converse</h1>
        <p class="text-start">Envie e receba mensagens para seus amigos.</p>
      </section>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/scripts/chat.js" type="module"></script>
    </main>
  </body>
</html>
