<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webchat</title>

    <link rel="stylesheet" href="styles/chat.css" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="app">
      <section class="block-messages">
        <header class="chatlist-header">
          <div title="Você" class="container-header-you">
            <img src="./image/user-3296.svg" alt="" />
            <p id="your-name-header" class="your-name-header">
              Nome do Usuário
            </p>
          </div>
          <span
            id="new-chat"
            class="material-icons"
            title="Nova conversa"
            style="margin: 0"
          >
            add
          </span>
          <div class="container-more-options">
            <span id="more_vert" class="material-icons" title="Mais opções"> more_vert </span>
            <ul id="menu_option">
              <li id="desconnect-button">
                Desconectar
              </li>
            </ul>
          </div>
        </header>
        <div class="container-search-chat">
          <span id="search-icon" class="material-icons"> search </span>
          <input
            title="Caixa de texto de pesquisa"
            type="text"
            placeholder="Pesquisar ou começar uma nova conversa"
          />
          <span id="filter_list" class="material-icons" title="Filtro conversas não lidas">
            filter_list
          </span>
        </div>
        <ul id="container-list" class="container-list"></ul>
      </section>

      <section id="section-contacts" class="section-contacts">
        <header class="contactslist-header">
          <div class="container-side-title">
            <span id="side_arrow_back" class="material-icons">
              arrow_back
            </span>
            <h1>Nova conversa</h1>
          </div>
        </header>
        <div class="container-search-chat">
          <span id="side-search-icon" class="material-icons"> search </span>
          <input
            title="Caixa de texto de pesquisa"
            type="text"
            placeholder="Pesquisar contatos"
          />
          <span class="material-icons" title="Filtro conversas não lidas">
            filter_list
          </span>
        </div>
        <ul id="side-contacts" class="side-contacts"></ul>
      </section>

      <section id="conversation" class="conversation">
        <h1>Converse</h1>
        <p class="text-start">Envie e receba mensagens para seus amigos.</p>
      </section>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/scripts/chat.js" type="module"></script>
    </main>
  </body>
</html>
