#side-search-icon-call {
  background-color: rgb(222, 222, 222);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 19px;
}

.callList-header {
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 0.5px solid rgb(255 255 255);
  justify-content: start;
  background-color: #eaeaea;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.callList-header h1 {
  font-weight: 400;
  margin: 0px 15px;
  font-size: 21px;
}

.container-search-call {
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
}

.container-search-call input {
  height: 70%;
  background-color: rgb(222, 222, 222);
  border: none;
  outline: none;
  width: 100%;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  border-radius: 0px 5px 5px 0px;
}

.container-search-call input::placeholder {
  color: #818181;
}

/* ?---------------------------------------------------------------- */

.list_historico_call {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.list_historico_call li {
  list-style: none;
  position: relative;
  height: 70px;
  width: 100%;
  border-bottom-color: rgb(250, 250, 250);
  font-size: 14px;
  color: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.list_historico_call li:hover {
  background: #f0f0f0;
}

.list_historico_call li .contact_img img {
  height: 2.2rem;
  background-color: white;
  border-radius: 100%;
  border: solid 2px white;
  box-shadow: rgb(0 0 0 / 66%) 0px 1px 1px;
  margin-right: 1rem;
}

.info_historico_number_type .icon_type .material-icons {
  font-size: 15px;
}

.info_historico_number_type .icon_type {
  margin-right: 7px;
}

.info_historico_number_type .text_type {
  color: #616161;
}

.list_historico_call li:hover .buttons_historico {
  opacity: 1;
}

.buttons_historico {
  position: absolute;
  right: 10px;
  vertical-align: middle;
  opacity: 0;
  transition: all 0.17s ease, color 0.17s ease;
}

.buttons_historico button {
  background-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.85;
  margin: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: solid 1px rgb(209, 209, 209);
  border-radius: 6px;
  cursor: pointer;
  padding-right: 1rem;
  padding-left: 1rem;
}

.buttons_historico button:hover {
  background-color: rgb(251, 251, 251);
}

.buttons_historico .material-icons {
  font-size: 16px;
  margin-right: 6px;
}

/* ---------------------------------------------------------------- */
.list_historico_call li:hover .call_info_historico {
  opacity: 0;
}
.call_info_historico {
  margin-right: 10px;
  display: block;
  font-size: 13px;
}

.call_info_duration {
  display: none;
}

/* ---------------------------------------------------------------- */

.container_incall {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.app_incall {
  position: relative;
  background: black;
  width: 100%;
  height: 100%;
}

.container_buttons_incall {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  height: 4rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_buttons_incall button .material-icons {
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.container_buttons_incall button {
  background: white;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  margin: 0px 20px;
  transition: all 0.4s ease;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 5;
}

.container_buttons_incall button:hover {
  background: rgb(210, 210, 210);
}

.container_myCam {
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 2px;
  right: 2px;
  width: 15vw;
  height: 15vh;
  border: solid #989898 1px;
  z-index: 4;
  background: url(../image/endless-constellation.svg);
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.container_myCam img {
  height: 40%;
  background: white;
  border-radius: 100px;
}

.container_myCam video {
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
}

.container_header_incall {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff66;
  z-index: 5;
  pointer-events: none;
}

.stopwatch_incall {
  margin-left: 2rem;
  font-size: 14px;
  position: absolute;
  left: 0;
}

.contact_name_incall {
  font-size: 14px;
}

.container_otherCams {
  width: 100%;
  height: 100%;
  position: absolute;
}

#hangup_button {
  color: red;
}

#hangup_button:hover {
  color: black;
}

.conversation .main_info_data_call {
  height: 100%;
  width: calc(100% - 30px);
}

.conversation .title_data_call {
  height: 55px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 21px;
  justify-content: center;
}

.conversation .container_info_data_call {
  height: 50%;
  width: 100%;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container_info_data_call .contact {
  height: fit-content;
  border-bottom: 1px solid rgb(237, 237, 237);
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  background: #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container_info_data_call .info_call {
  height: 50%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  border: 1px solid rgb(237, 237, 237);
  background: #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container_info_data_call .contact img {
  height: 2.2rem;
  background-color: white;
  border-radius: 100%;
  border: solid 2px white;
  box-shadow: rgb(0 0 0 / 66%) 0px 1px 1px;
  margin-right: 1rem;
}

.contact .informations_historico_contact {
  display: flex;
  align-items: center;
  border-radius: 14px;
}

.informations_historico_contact p {
  font-size: 14px;
  font-weight: 500;
}

.contact .container_buttons {
  display: flex;
}

.contact .container_buttons button {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 14px;
}

.contact .container_buttons button:hover {
  background: #ffffff;
}

.container_buttons button span {
  font-size: 20px;
}

/* INCOMING CALL */

.incoming_call_ntf {
  position: fixed;
  right: 5px;
  top: 5px;
  border-radius: 14px;
  z-index: 99;
  width: 300px;
  height: 300px;
  border: 3px #787878 solid;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
  background: url(../image/endless-constellation.svg);
  transition: all 0.5s ease;
  opacity: 0;
}

.main_incoming_call {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.info_incoming_call {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.info_incoming_call .contact_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px);
  font-weight: 600;
}

.info_incoming_call .contact_info img {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 100%;
  border: solid 2px white;
  box-shadow: rgb(0 0 0 / 66%) 0px 1px 1px;
}
.info_incoming_call .text_info {
  font-size: 15px;
}

.main_incoming_call .container_buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background: #0000005e;
  border-radius: 0px 0px 11px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_incoming_call .container_buttons button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin: 0px 10px;
}

.accept_call_button {
  background: #03bb32;
  width: 170px;
  border-radius: 7px;
}

.reject_call_button {
  background: red;
  border-radius: 100%;
  width: 40px;
}

.person_container {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(../image/endless-constellation.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.person_container img {
  height: 22vh;
  background: white;
  border-radius: 100px;
  box-shadow: rgb(0 0 0 / 44%) 0px 10px 16px;
  margin-bottom: 2rem;
}

.person_container .name_contact {
  font-weight: 600;
  font-size: 1.4rem;
}

.person_container video {
  position: absolute;
  top: 0;
  left: 0;
}
