@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(33, 33, 33) rgb(33, 33, 33);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(33, 33, 33);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
}

.app {
  background-color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.block-messages {
  background-color: rgb(33, 33, 33);
  width: 30vw;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
  overflow-x: hidden;

  min-width: 333px;
}

.chat-selected {
  background-color: rgb(60 60 60) !important;
}

#search-icon {
  background-color: rgb(25, 25, 25);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 19px;
}

.container-search-chat {
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
}

.container-search-chat input {
  height: 70%;
  background-color: rgb(25, 25, 25);
  border: none;
  outline: none;
  width: 100%;
  color: white;
  padding-left: 0px;
  padding-right: 10px;
  border-radius: 0px 5px 5px 0px;
}

.container-search-chat input::placeholder {
  color: #818181;
}

.container-search-chat .material-icons {
  color: #818181;
  padding: 5px;
  cursor: pointer;
  border-radius: 100%;
  margin: 5px;
  font-size: 20px;
}

/* ================================================================
*/
.container-search-new-group {
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.container-search-new-group input {
  height: 70%;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #818181;
  outline: none;
  width: 100%;
  color: white;
  padding-left: 0px;
  padding-right: 10px;
}

.container-search-new-group input::placeholder {
  color: #818181;
}

/* ====== */
.chatlist-header {
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 0.5px solid rgb(51, 51, 51);
  justify-content: space-between;
  background-color: rgb(33, 33, 33);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.chatlist-header img {
  margin-left: 16px;
}

.section-chats {
  position: relative;
  height: calc(100% - 145px);
}

.container_search_chat {
  width: 100%;
  list-style: none;
  padding-bottom: 20px;
  height: calc(100% - 145px);
  overflow-y: auto;
  display: none;
  position: absolute;
  background: #212121;
  z-index: 99;
}

.container_search_chat li {
  width: 100%;
  height: 70px;
  border-bottom: 0.5px solid rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.container-list {
  width: 100%;
  list-style: none;
  padding-bottom: 20px;
  height: calc(100% - 145px);
  overflow-y: auto;
  position: relative;
}

.container-list li {
  width: 100%;
  height: 70px;
  border-bottom: 0.5px solid rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(33, 33, 33);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: absolute;
  transition: 200ms ease-in-out 0s;
}

.side-contacts li {
  width: 100%;
  height: 70px;
  border-bottom: 0.5px solid rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(33, 33, 33);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

li:hover {
  background-color: rgb(39, 39, 39);
}

li > div {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.contact-image {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 10px;
  position: relative;
}

.new-group-image {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 10px;
  position: relative;
}

.new-group-image img {
  border-radius: 7px;
  height: 22px;
  padding: 8px;
}

.new_group {
  padding-top: 15px;
  padding-bottom: 15px;
}

.name-user {
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
}

.last-message {
  font-size: 0.8rem;
  color: rgb(220, 220, 220);
  max-width: 290px;
}

.time-stamp {
  font-size: 0.7rem;
  color: #818181;
  min-width: 25px;
  overflow: hidden;
}

img {
  height: 2.2rem;
  background-color: white;
  border-radius: 100%;
  border: solid 2px white;
}

.informations-header {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-left: 15px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.typing_ntf {
  color: #818181;
  font-size: 11px;
}

.informations-header p {
  margin-top: 0;
}

.conversation {
  width: 70%;
  height: 100vh;
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.conversation h1 {
  margin-top: 30px;
  color: white;
  font-weight: 400;
}

.text-start {
  margin-top: 10px;
  color: rgb(223, 223, 223);
  font-size: 0.9rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.conversation-header {
  height: 55px;
  min-height: 55px;
  width: 100%;
  border-bottom: 0.5px solid rgb(51, 51, 51);
  background-color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  z-index: 5;
}

.conversation-header img {
  margin-left: 20px;
}

.name-contact-header {
  font-size: 16px;
  color: white;
  margin-top: 0;
}

.your-name-header {
  color: white;
  margin-left: 15px;
}

.container-header-you {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
}

.chatlist-header .material-icons {
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.conversation-panel-messages {
  height: calc(100% - 135px);
  width: 100%;
  background-color: #181919;
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  position: relative;
  z-index: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.conversation-input-area {
  height: 60px;
  width: 100%;
  background-color: rgb(33, 33, 33);
  display: flex;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.conversation-input {
  width: 100%;
  height: 30px;
  background-color: rgb(25 25 25);
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 2px 15px;
  color: white;
  font-size: 14px;
}

.button-send {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.button-send .material-icons {
  color: rgb(139, 139, 139);
}

.emojis-input {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: rgb(139, 139, 139);
}

.self-message-container {
  display: flex;
  justify-content: right;
  padding-right: 9%;
  padding-left: 9%;
}

.self-message {
  background-color: #5865f2;
  border-radius: 10px 10px 0px 10px;
}

.message-baloon {
  color: white;
  width: fit-content;
  padding: 6px 7px 8px 9px;
  margin-top: 6px;
  font-size: 0.84rem;
  position: relative;
  text-align: justify;
}

.text-message {
  margin-right: 35px;
  font-size: 14px;
}

.time-message {
  font-size: 11px;
  text-align: right;
  color: #ffffff94;
  position: absolute;
  bottom: 3px;
  right: 8px;
}

.they-message-container {
  display: flex;
  justify-content: left;
  padding-left: 9%;
  padding-right: 9%;
}

.they-message {
  background-color: #474b4d;
  border-radius: 10px 10px 10px 0px;
}

.section-contacts {
  position: fixed;
  background-color: rgb(33, 33, 33);
  width: 30vw;
  min-width: 333px;
  height: 100vh;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: transform 500ms ease-in-out 0s; */
  transition: all 500ms ease-in-out 0s;
  transform: translateX(-800px);
  z-index: 100;

  min-width: 333px;
}

.section-new-group {
  position: fixed;
  background-color: rgb(33, 33, 33);
  width: 30vw;
  min-width: 333px;
  height: 100vh;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: transform 500ms ease-in-out 0s; */
  transition: all 500ms ease-in-out 0s;
  transform: translateX(-800px);
  z-index: 100;

  min-width: 333px;
}

.section-new-group-name {
  position: fixed;
  background-color: rgb(33, 33, 33);
  width: 30vw;
  min-width: 333px;
  height: 100vh;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 500ms ease-in-out 0s;
  transform: translateX(-800px);
  z-index: 100;

  min-width: 333px;
}

#side-search-icon {
  background-color: rgb(25, 25, 25);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 19px;
}

#search-new-group {
  background-color: rgb(25, 25, 25);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 19px;
}

#contact-search-icon {
  background-color: rgb(25, 25, 25);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 19px;
}

#filter_list {
  margin-left: 8px;
  margin-right: 8px;
  user-select: none;
}

#clear_search_chat {
  margin-left: 8px;
  margin-right: 8px;
  user-select: none;
}

.contactslist-header {
  display: flex;
  align-items: end;
  height: 108px;
  border-bottom: 0.5px solid rgb(51, 51, 51);
  justify-content: space-between;
  background-color: rgb(33, 33, 33);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#side_arrow_back {
  color: #d9dee0;
  display: flex;
  background-color: rgb(33, 33, 33);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 24px;
  cursor: pointer;
}

#group_name_arrow_back {
  color: #d9dee0;
  display: flex;
  background-color: rgb(33, 33, 33);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 24px;
  cursor: pointer;
}

#new_chat_arrow_back {
  color: #d9dee0;
  display: flex;
  background-color: rgb(33, 33, 33);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 24px;
  cursor: pointer;
}

#new_contact_side_back {
  color: #d9dee0;
  display: flex;
  background-color: rgb(33, 33, 33);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 3%;
  margin-right: 0;
  height: 70%;
  display: flex;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-size: 24px;
  cursor: pointer;
}

#search_button {
  border-radius: 4px;
  padding: 6px;
  background-color: #5865f2;
  color: white;
  margin-right: 3%;
}

.container-side-title {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #d9dee0;
  font-weight: lighter;
  font-size: 13px;
  width: 100%;
  height: 76%;
}

.container-more-options {
  position: relative;
}

.overlay_menu_options {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 50;
}

.overlay_menu_options ul {
  position: absolute;
  background: #252525;
  width: 13rem;
  height: max-content;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  transition: all 200ms;
  left: 14%;
  top: 47px;
}

.overlay_menu_options li {
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background 200ms;
}

.menu_option li:hover {
  background: #464646 !important;
}

.overlay-add-contact {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.left-side-menu {
  position: fixed;
  background-color: rgb(33, 33, 33);
  width: 30vw;
  min-width: 333px;
  height: 100vh;
  box-shadow: rgb(0 0 0 / 75%) 0px 5px 15px;
  overflow-y: auto;
  overflow-x: hidden;
  /* transition: transform 500ms ease-in-out 0s; */
  transition: all 500ms ease-in-out 0s;
  transform: translateX(-800px);
  z-index: 100;
}

.status-contact {
  border: solid 2px #ffffff;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  bottom: 5px;
  right: 6px;
  background: #000000;
}

.online {
  background: #0ac60a;
}

.left-side-menu {
  color: white;
}

.container_time_notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  min-width: 31px;
}

.circle_notification {
  width: 19px;
  height: 17px;
  background: #5765f2;
  border-radius: 100%;
  color: #212121;
  font-size: 11px;
  text-align: center;
  padding-top: 2px;
  margin-top: 5px;
  display: none;
}

.container_novo_grupo {
  cursor: pointer;
}

.container_contact_to_new_group {
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.container_contact_to_new_group img {
  height: 1.3rem;
}

.container_contact_to_new_group ul {
  max-height: 150px;
  display: flex;
  grid-gap: 10px;
  overflow: auto;
  list-style: none;
  flex-wrap: wrap;
}

.container_contact_to_new_group li {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: auto;
  vertical-align: top;
  margin: 0 6px 6px 0px;
}

.container_contact_to_new_group li .material-icons {
  color: white;
  font-size: 16px;
}

.name_choosed_contact {
  color: white;
  font-size: 13px;
  overflow: hidden;
}

.container_button_users_selected {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 40px;
  position: absolute;
  bottom: 0;
}

.container_button_users_selected button {
  border-radius: 100%;
  padding: 10px;
  background: #5765f2;
  color: white;
  cursor: pointer;
  border: solid;
}

.container-group-img {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-group-img img {
  height: 150px;
  width: 150px;
}

#group_name_input {
  border: none;
}

#name-group-caractere-counter {
  color: #818181;
  font-size: 14px;
  font-weight: 300;
}

.container-search-new-group button {
  color: #818181;
  background: transparent;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  font-size: 21px;
}
