<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webchat</title>

    <link rel="stylesheet" href="../styles/chat.css" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="app">
      <section class="block-messages">
        <header class="chatlist-header">
          <div title="Você" class="container-header-you">
            <img src="../image/user-3296.svg" alt="" />
            <p id="your-name-header" class="your-name-header">
              Nome do Usuário
            </p>
          </div>
          <span
            id="new-contact"
            title="Adicionar um novo contato."
            class="material-icons"
          >
            person_add
          </span>
          <span
            id="new-chat"
            class="material-icons"
            title="Nova conversa"
            style="margin: 0; font-size: 21px"
          >
            chat
          </span>
          <div class="container-more-options">
            <span id="more_vert" class="material-icons" title="Mais opções">
              more_vert
            </span>
          </div>
          <div id="overlay_menu_option" class="overlay_menu_options">
            <ul id="menu_option" class="menu_option">
              <li id="new-group-button">Novo grupo</li>
              <li id="disconnect-button">Desconectar</li>
            </ul>
          </div>
        </header>
        <div class="container-search-chat">
          <span id="search-icon" class="material-icons"> search </span>
          <input
            id="input_search_chat"
            title="Caixa de texto de pesquisa"
            type="text"
            placeholder="Pesquisar ou começar uma nova conversa"
          />
          <span
            id="clear_search_chat"
            class="material-icons"
            style="display: none"
            title="Fechar pequisa"
          >
            clear
          </span>
          <span
            id="filter_list"
            class="material-icons"
            title="Filtro conversas não lidas"
          >
            filter_list
          </span>
        </div>
        <div class="section-chats">
          <ul id="container_search_chat" class="container_search_chat"></ul>
          <ul id="container-list" class="container-list"></ul>
        </div>
      </section>

      <section id="section-contacts" class="section-contacts">
        <header class="contactslist-header">
          <div class="container-side-title">
            <span id="side_arrow_back" class="material-icons">
              arrow_back
            </span>
            <h1>Nova conversa</h1>
          </div>
        </header>
        <div class="container-search-chat">
          <span id="side-search-icon" class="material-icons"> search </span>
          <input
            title="Caixa de texto de pesquisa"
            type="text"
            placeholder="Pesquisar contatos"
            style="margin-right: 3%"
          />
        </div>
        <ul id="side-contacts" class="side-contacts"></ul>
      </section>

      <section id="new-contact-div" class="left-side-menu">
        <header class="contactslist-header">
          <div class="container-side-title">
            <span id="new_contact_side_back" class="material-icons">
              arrow_back
            </span>
            <h1>Adicione um contato.</h1>
          </div>
        </header>
        <div class="container-search-chat">
          <span id="contact-search-icon" class="material-icons"> search </span>
          <input
            id="input_new_contact"
            title="Caixa de texto de pesquisa"
            type="text"
            placeholder="Digite o número do contato"
          />
          <span id="search_button" class="material-icons"> person_search </span>
        </div>
      </section>
      <section id="conversation" class="conversation">
        <h1>Converse</h1>
        <p class="text-start">Envie e receba mensagens para seus amigos.</p>
      </section>
    </main>
    <audio id="sound_new_message" src="../sounds/new_message.mp3"></audio>
    <script src="../scripts/socket.io/client-dist/socket.io.js"></script>
    <script src="../scripts/chat.js" type="module"></script>
  </body>
</html>
