<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebChat | Registre-se</title>

    <link rel="stylesheet" href="styles/login.css" />
  </head>
  <body>
    <div class="welcome-login">
      <div class="container-login">
        <header class="header">
          <h1>Criar uma conta</h1>
        </header>
        <form action="/auth/register" class="form-login" method="post">
          <div class="container-input">
            <div class="container-label">
              <label for="number">Nome de usuário</label>
            </div>
            <input
              id="username-input"
              class="text-input"
              type="text"
              name="name"
              required
            />
          </div>
          <div class="container-input">
            <div class="container-label">
              <label for="number">Número de telefone</label>
            </div>
            <input
              id="number-input"
              class="text-input"
              type="text"
              name="login"
              required
            />
          </div>
          <div class="container-input">
            <div class="container-label">
              <label for="password">Senha</label>
            </div>
            <input
              id="password-input"
              class="text-input"
              type="password"
              name="password"
              required
            />
          </div>
          <div class="container-input">
            <div class="container-label">
              <label for="password">Confirme a Senha</label>
            </div>
            <input
              id="confirm-password-input"
              class="text-input"
              type="password"
              name="password"
              required
            />
          </div>
          <input
            id="register-button"
            class="login-button"
            type="submit"
            value="Continuar"
          />
        </form>
        <div class="sub-submit">
          <a href="/">Já tem uma conta?</a>
        </div>
      </div>
    </div>

    <script src="/scripts/register.js" type="module"></script>
  </body>
</html>
